.wrapper{
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4)
    /*background-color: aqua;*/
}
.info{
    height: 16vh;
    width: 80vw;
    /*background-color: indianred;*/
    margin: auto
}
.item{
    height: 36vh;
    width: 80vw;
    /*background-color: brown;*/
    margin:auto;
}
.image{
    height: 13.5vw;
    width: 24vw;
    /*background-color: blue;*/
    float: left;
}
.image_info{
    height: 28vh;
    width: 56vw;
    /*background-color: aquamarine;*/
    float: left; 
    margin-top: 3vh;
}
.image_file{
    width: 20vw;
    height: 15vw;
}
.txt{
    width: 20vw;
    height: 28vh;
    float: left;
}
.buy{
    width: 10vw;
    height: 16vh;
    margin:auto;
}