.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0 ,0.4);
}
.leftbox{
    width: 50vw;
    height: 100vh;
    /*background-color: aqua;*/
    float: left;
}
.rightbox{
    width: 50vw;
    height:100vh;
    /*background-color: red;*/
    float: left;
}
.picture{
    width: 32vw;
    height: 24vw;
    margin: auto;
    margin-top: 8vh;
    text-align: center;
    /*background-color: blue;*/
}
.info_l{
    width: 32vw;
    height: 40vh;
    margin:auto;
    /*background-color: blueviolet;*/

}
.tag{
    width: 32vw;
    height: 5vh;
    /*background-color: coral;*/
}
.comment{
    width: 32vw;
    height: 16vh;
    /*background-color :teal;*/
}
.user{
    width: 32vw;
    height: 10vh;
    /*background-color: brown;*/
}
.info_r{
    margin-top: 8vh;
    width: 50vw;
    height: 5vh;
    /*background-color: darkblue;*/
}
.category{
    width: 50vw;
    height: 5vh;
    /*background-color: teal;*/
}
.map{
    margin:2vh 0;
    width: 36vw;
    height: 18vw;;
    /*background-color: hotpink;*/
}
.buy{
    /*background-color: rebeccapurple;*/
    height: 10vh;
    width: 50vw;
}
.shop{
    width: 50vw;
    height: 5vh;
    /*background-color: chartreuse*/
}
.exif{
    width: 50vw;
    height: 20vh;
    /*background-color: gold;*/
}
.image_file{
    width: 32vw;
    height: 24vw;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.map_frame{
    width: 36vw;
    height: 18vw;
}