@charset "UTF-8";
@import url("./reset.css");

/* フォント設定 */
* {
	color: #333;
	font-size: 1em;
	font-family: "游ゴシック","Yu Gothic","ヒラギノ角ゴ Pro W3",
				 "Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Pゴシック",sans-serif;
	letter-spacing: 0.4px;
}

/* 全体設定 */
html {
	height: 100%;
	width: 100%;
}
body {
	width: 100%;
	height: 100px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

#back{
	background-image: url("../images/topImage03.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	height: 100vh;
	max-height: 100%;
	padding-top: 50px;
	flex: 1;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left;
}


/* ヘッダーコンテンツ */
header {
	display: flex;
	position: fixed;
	height: 50px;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: rgba(0,0,0,0.1);
}
#headNavi {
	min-width: 200px;
	/*background: yellow;*/
	line-height: 50px;
	text-align: center;
	border-bottom-left-radius: 10px;
}

.logoImage {
	min-width: 150px;
	height: 46px;
	/*background-image: url("../images/logo.jpg");*/
	background-color: white;
	background-size: cover;
	border: solid 2px #67c5ff;
}

.logosrc {
	text-align: center;
	display: inline-block;
	width: 150px;
	height: 46px;
	padding: 0.1em 0.3em;
	transition: all .3s;
}
.logosrc:hover {
	color: #fff;
	background-color: #00BCD4;
}

#loginButton{
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	transition: .4s;
}

#registButton{
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	transition: .4s;
}

.searchBox {
	text-align: center;
	/*background: blue;*/
	min-width: 500px;
	line-height: 50px;

}
#search {
	min-width: 100px;
}

#searchButton{
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	transition: .4s;
}

/* フッターコンテンツ */
footer {
	position: fixed;
	bottom: 0; 
	padding: 10px;
	width: calc(100% - 20px);
	background-color: rgba(0,0,0,0.1);
	text-align: center;
}
#footerNavi {
	margin: 0 auto;
	width: 500px;
}

/**********トップページ**********/
#topWrapper {
	height: 100%;
	width: 100%;
	background: #000;
	background-position: center;
	background-size: cover;
	background-image: url("../images/topImage1.jpg");
}